In [1]:
import numpy as np
import pandas as pd

In [2]:
email = "angel@gmail.com"

In [3]:
email.split('@')

['angel', 'gmail.com']

In [4]:
names = pd.Series( ['andrew','yare','jose','litzy','5'] )

In [5]:
names

0    andrew
1      yare
2      jose
3     litzy
4         5
dtype: object

In [6]:
names.str.upper()

0    ANDREW
1      YARE
2      JOSE
3     LITZY
4         5
dtype: object

In [7]:
tech_finance = ['GOOG, APPL, AMZN', 'JPM,BAG, GS']

In [8]:
len(tech_finance)

2

In [9]:
tickers = pd.Series(tech_finance)

In [10]:
tickers

0    GOOG, APPL, AMZN
1         JPM,BAG, GS
dtype: object

In [11]:
tickers.str.split(',')

0    [GOOG,  APPL,  AMZN]
1         [JPM, BAG,  GS]
dtype: object

In [12]:
tech = 'GOOG, APPL, AMZN'

In [13]:
tech.split(',')[0]

'GOOG'

In [14]:
tickers.str.split(',').str[0]

0    GOOG
1     JPM
dtype: object

In [15]:
tickers.str.split(',', expand=True)

      0      1      2
0  GOOG   APPL   AMZN
1   JPM    BAG     GS

In [16]:
messy_names = pd.Series(['andrew',"bo;bo","   claiure "])

In [17]:
messy_names

0         andrew
1          bo;bo
2       claiure
dtype: object

In [18]:
messy_names.str.replace(";",'')

0         andrew
1           bobo
2       claiure
dtype: object

In [19]:
messy_names.str.replace(";",'').str.strip().str.capitalize()

0     Andrew
1       Bobo
2    Claiure
dtype: object